.contenedor_bienvenida {
  width: 70vw;
  position: relative;
  height: 200px;
  background: #4d82bc;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 58px -24px rgba(0, 0, 0, 1);
}

.contenedor_bienvenida::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

h1 {
  display: inline-block;
  vertical-align: middle;
}
